<!--
  The Footer
-->

<footer class="d-flex w-100 justify-content-center">
  <div class="d-flex justify-content-between align-items-center">
    <div class="footer-left">
      <p class="mb-0">
        © {{ 'now' | date: "%Y" }}
        <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
        {% if site.data.rights.brief %}
        <span data-toggle="tooltip" data-placement="top"
          title="{{ site.data.rights.verbose }}">{{ site.data.rights.brief }}</span>
        {% endif %}
      </p>
    </div>

    <div class="footer-right">
      <p class="mb-0">
        最终解释权归
        <a href="https://wangjians.github.com" target="_blank">{{ site.social.name }}</a>所有
      </p>
    </div>

  </div> <!-- div.d-flex -->
</footer>
